Projeto07/Projeto07/flows (4).json
[
    {
        "id": "2b3e0d90a299d588",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "36a65408a18a73ae",
        "type": "mqtt in",
        "z": "2b3e0d90a299d588",
        "name": "",
        "topic": "v3/iot/devices/44092/up",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fa7923ade7c363e8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 420,
        "y": 140,
        "wires": [
            [
                "e4db944c385ce5d5",
                "79569f1086f2a6f4"
            ]
        ]
    },
    {
        "id": "e4db944c385ce5d5",
        "type": "change",
        "z": "2b3e0d90a299d588",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.uplink_message.decoded_payload",
                "pt": "msg",
                "to": "queryParameters",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "queryParameters.bancada",
                "pt": "msg",
                "to": "08",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 140,
        "wires": [
            [
                "d57018814000d680",
                "a219f82103a023b1"
            ]
        ]
    },
    {
        "id": "79569f1086f2a6f4",
        "type": "debug",
        "z": "2b3e0d90a299d588",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 300,
        "wires": []
    },
    {
        "id": "d57018814000d680",
        "type": "debug",
        "z": "2b3e0d90a299d588",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 280,
        "wires": []
    },
    {
        "id": "a219f82103a023b1",
        "type": "postgresql",
        "z": "2b3e0d90a299d588",
        "name": "",
        "query": "INSERT INTO medicoes (bancada,temperatura,umidade,pressao,resistencia_gas)\nVALUES ($bancada,$temperature_1,$relative_humidity_1,$barometric_pressure_1,$analog_in_1);",
        "postgreSQLConfig": "1251550e75985b59",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1210,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "fa7923ade7c363e8",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "mqtt.janks.dev.br",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "5",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1251550e75985b59",
        "type": "postgreSQLConfig",
        "name": "PostgreSQL",
        "host": "postgresql.janks.dev.br",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "supermercado",
        "databaseFieldType": "str",
        "ssl": "true",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "iot",
        "userFieldType": "str",
        "password": "pepcon-garton",
        "passwordFieldType": "str"
    }
]