Projeto08/flows (5).json
[
    {
        "id": "d06ba5bf1f19f861",
        "type": "tab",
        "label": "Fluxo 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a98f9b10fd74b462",
        "type": "mqtt in",
        "z": "d06ba5bf1f19f861",
        "name": "",
        "topic": "rgb/5",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fa7923ade7c363e8",
        "nl": true,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 240,
        "wires": [
            [
                "927578ee2f5a45ee",
                "52222319ece9721e"
            ]
        ]
    },
    {
        "id": "927578ee2f5a45ee",
        "type": "debug",
        "z": "d06ba5bf1f19f861",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 380,
        "wires": []
    },
    {
        "id": "52222319ece9721e",
        "type": "change",
        "z": "d06ba5bf1f19f861",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "queryParameters",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 240,
        "wires": [
            [
                "248e3c36b113c2bd",
                "d1f3a448c1543530"
            ]
        ]
    },
    {
        "id": "248e3c36b113c2bd",
        "type": "postgresql",
        "z": "d06ba5bf1f19f861",
        "name": "",
        "query": "INSERT INTO luzes(numero,aceso)\nVALUES($numero, $aceso) ;",
        "postgreSQLConfig": "17be3d07c95f1c8b",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 930,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "d1f3a448c1543530",
        "type": "debug",
        "z": "d06ba5bf1f19f861",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 360,
        "wires": []
    },
    {
        "id": "fa7923ade7c363e8",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "mqtt.janks.dev.br",
        "port": "8883",
        "tls": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "5",
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "17be3d07c95f1c8b",
        "type": "postgreSQLConfig",
        "name": "PostgreSQL - Aula",
        "host": "postgresql.janks.dev.br",
        "hostFieldType": "str",
        "port": 5432,
        "portFieldType": "num",
        "database": "supermercado",
        "databaseFieldType": "str",
        "ssl": "true",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "iot",
        "userFieldType": "str",
        "password": "pepcon-garton",
        "passwordFieldType": "str"
    }
]